@import '../../global.scss';

.lvl-container{
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $mainColor2;
    align-items: center;
    h2{
        margin-top: 60px;
        font-size: 1rem;
        font-weight: 300;
    }
    .lvl-cont{
        width: 100%;
        margin: auto;
    }
    
}
@media(min-width:1300px ) {
    .lvl-container{

        h2{
            margin-top: 60px;
            font-size: 2rem;
            font-weight: 300;
        }
        
    }

}
