@import './global.scss';

.App{
  min-width: 340px;
  overflow-x: hidden;
  font-family: $mainFont;
  width: 100vw;
  color: white;
  background-color: rgba(12, 5, 37, .9); 
  background-blend-mode: darken;
  background-image: url('https://res.cloudinary.com/dxoqq4yvo/image/upload/v1646694227/movie2movie/PngItem_2229031_obyz2k.png');
  background-size: 500px;
  scrollbar-width: none;

}