 .maincont{
    position: relative;

}

@media(min-width:1300px ) {
    .maincont{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 90%;
        // background-color: red;
        margin: auto;
    }

}