 .maincont{
    position: relative;

}

@media(min-width:1300px ) {
    .maincont{
        display: flex;
        justify-content: center;
        align-items: start;
        width: 90%;
        margin: auto;
    }

}