@import '../../global.scss';

.randommovie-cont{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;

    h2{
        margin-bottom: 60px;
        font-size: 2rem;
        font-weight: 300;
    }
    .play{
        width: 200px;
        height: 80px;
        background-color: $mainColor;
        color: white;
        font-family: $mainFont;
        font-size: 3rem;

        a{  
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: white;
            text-decoration: none;
        }
    }
    .randommovies-img{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        
        button{
            font-weight: 700;
            border-radius: 30px;
            margin: 20px;
            width: 100px;
            height: 100px;
            color: white;
            background-color: $mainColor;
            font-family: $mainFont;
            border: 2px solid white;
            cursor: pointer;
        }
    }
}

@media(max-width:560px) {

    .randommovie-cont{

        .randommovies-img{
            flex-direction: column;
    
            button{
                margin: 50px;
            }
    
        }
    }
}