.movie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.movie-info{
    text-align: center;
}
.movie-info>h2{
    border-bottom: 2px solid rgb(255, 255, 255);
}
.movie-info>h3{
    border-bottom: 2px solid rgb(255, 255, 255);
}
.movie-img{
    width: 150px;
}