.credit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.credit>img{
    width: 100px;
    border-radius: 100%;
    height: 100px;
    object-fit: cover;
}