@import '../../global.scss';

.movielist-cont{
    height: 350px;
    width: 90%;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    background-color: $mainColor;
}

@media(min-width:660px ) {
    .movielist-cont{
        height: 400px;
        width: 600px;
        overflow: auto;
        background-color: $mainColor;
        margin: 50px;
    }
}